---
title: "French Vocabulary for Latin Learners"
author: "Liuk Diih Mieu"
date: "\\today"
---

# French Vocabulary for Latin Learners

By using Latin cognates and English words derived from French, we can remember this list effeciently.

---

## 1. Nouns

| # | French | English | Latin | English cognate(s) |
|---|--------|---------|-------|--------------------|
{% for e in nouns -%}
| {{ e.index }} | {{ e.french }} | {{ e.english }} | {{ e.latin or "" }} | {{ e.english_cognate or "" }} |
{% endfor %}

---

## 2. Adjectives

| # | French | English | Latin | English cognate(s) |
|---|--------|---------|-------|--------------------|
{% for e in adjectives -%}
| {{ e.index }} | {{ e.french }} | {{ e.english }} | {{ e.latin or "" }} | {{ e.english_cognate or "" }} |
{% endfor %}

## 3. Verbs

| # | French | English | Latin | English cognate(s) |
|---|--------|---------|-------|--------------------|
{% for e in verbs -%}
| {{ e.index }} | {{ e.french }} | {{ e.english }} | {{ e.latin or "" }} | {{ e.english_cognate or "" }} |
{% endfor %}